<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Good Morning</h1>
    <p>
      We want to notify that you already login with more than 3 time uncorrectly <%= @user.email %>.<br/>
    </p>
    <p>
      So, now we will lock your account
    </p>
    <p>
      If you want to reactive your account, Please click <%= link_to "Reactive account", user_unlock_url(@user) %> 
  </body>
</html>