<h2> Please input your email</h2>
<%= form_tag do %>
  <div>
    <%= label_tag :email, 'Email:' %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div>
    <%= submit_tag "Sumit" %> 
  </div>
<% end %>